.answerQuestionWrapper{
display: flex;
flex-direction: column;
gap: 20px;
max-width: 800px;
}
.textarea{
    padding: 10px;
border-radius: 5px;
background-color: rgb(247, 231, 249);
color: rgb(37, 7, 66);
font-weight: bold;
}
.postAnswerButton{
padding: 10px;
    border-radius: 5px;
    background-color: rgb(247, 231, 249);
    color: rgb(37, 7, 66);
    font-weight: bold;
}

.postAnswerButton:hover{
    background-color: rgb(240, 174, 231);
    color: rgb(249, 19, 161);
}
