.footer {
  height: 80px;
  width: 100%;
  background-color: rgb(253, 229, 227);
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}


.footer ul{
display: flex;
list-style-type: none;
gap: 15px;
text-align: right;
}
.footer ul li a{
    color: rgb(5, 12, 1);
    text-decoration: none;
    font-weight: bold;
}
.footer ul li a:hover{
    color: rgb(240, 9, 236);
    font-weight: bold;
}